/* Navigation 2
--------------------------------------------- */
.nav {
  width: 100%;
}

.navigation-main,
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.navigation-main ul,
.menu ul {
  min-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 99;
}

.navigation-main li,
.menu li {
  display: inline-block;
  position: relative;
  text-align: left;
}

.navigation-main li.focus>ul,
.navigation-main li:hover>ul,
.menu li.focus>ul,
.menu li:hover>ul,
.menu li:focus-within>ul {
  top: auto;
  left: auto;
}

.navigation-main li li,
.menu li li {
  display: block;
}

.navigation-main li li.focus>ul,
.navigation-main li li:hover>ul,
.menu li li.focus>ul,
.menu li li:hover>ul,
.menu li li:focus-within>ul {
  left: 100%;
  top: 0;
}

.navigation-main a,
.menu a {
  /* color: var(--menu-link-color); */
  color: inherit;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 10px 15px;
}

.navigation-main a:hover,
.navigation-main li:hover>a,
.navigation-main .current-menu-item>a,
.navigation-main .current-menu-ancestor>a,
.menu a:hover,
.menu li:hover>a,
.menu .current-menu-item>a,
.menu .current-menu-ancestor>a {
  color: var(--menu-link-active-color);
}

.navigation-main .menu-item-has-children>a::before,
.menu .menu-item-has-children>a::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 4px solid transparent;
  border-top-color: currentColor;
}

.navigation-main ul .menu-item-has-children>a::before,
.menu ul .menu-item-has-children>a::before {
  right: 2px;
  border-top-color: transparent;
  border-left-color: currentColor;
}

.navigation-main ul,
.menu ul {
  /* background-color: black; */
  background-color: var(--menu-background-color);
}

.menu {
  font-weight: 900;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  text-align: right;
}